.section {
	&.about-me {
		grid-template-columns: 1fr;
		width: 100%;
	}

	.about-me__figcaption {
		margin-top: 10px;
	}

	.about-me__p {
		@media (min-width: 1200px) {
			max-width: 45%;
		}
	}

	.about-me__a {
		text-decoration: none;
		color: var(--black);
		font-family: 'Source Serif Pro';
	}
}

figcaption {
	margin-top: 10px;
}

.section.active {
	.about-me {
		// display: grid;
		&__p {
			display: block;
		}

		&__p--chart {
			display: grid;
		}

		&__p--chart > * {
			display: block;
		}

		&__figure {
			display: block;
		}

		&__figure * {
			display: block;
		}

		&__a {
			display: block;
		}
	}
}
