.responsive-wrapper {
	position: relative;
	// top: 0;
	// left: 0;
	width: 360px;
	// min-height: 100vh;
	margin: 0 auto;
	padding: 15px;
	

	@media (min-width: 576px) {
		width: 576px;
	}

	@media (min-width: 768px) {
		width: 768px;
	}

	@media (min-width: 992px) {
		width: 992px;
	}

	@media (min-width: 1200px) {
		width: 1200px;
	}
}
