.section {
	display: grid;
	position: absolute;
	top: 0;
	left: 0;
	gap: 0.94rem;
	padding: 20px 0;
	transform: translateX(-150%);
	opacity: 0;
	transition: 5s;
	width: 320px;

	transition: 0.6s 0.3s;
	height: 0;

	* {
		display: none;
	}

	@media (min-width: 576px) {
		width: 576px;
	}

	@media (min-width: 992px) {
		width: 992px;
	}

	@media (min-width: 1200px) {
		padding: 40px 0;
		grid-template-columns: repeat(4, 1fr);
		width: 1200px;
		grid-auto-rows: max-content;
		gap: 1.88rem;
	}

	&__h2 {
		margin-bottom: 10px;
	}

	&__header {
		width: 320px;
		grid-column: 3/-1;
		grid-row: span 1;

		@media (min-width: 576px) {
			width: 576px;
		}

		@media (min-width: 768px) {
			width: 516px;
		}

		@media (min-width: 992px) {
			width: 668px;
		}

		@media (min-width: 1200px) {
			width: 100%;
		}
	}

	&__img-wrapper {
		flex-direction: column;
		align-items: start;
		gap: 30px;
		grid-column: 1/-1;
		width: 320px;

		@media (min-width: 576px) {
			width: 576px;
		}

		@media (min-width: 768px) {
			width: 516px;
		}

		@media (min-width: 992px) {
			width: 668px;
		}

		@media (min-width: 1200px) {
			width: 724px;
			grid-column: 1 / auto;
			grid-row: 1;
		}
	}

	&__img {
		width: 100%;
	}

	&__img--5 {
		width: 100%;
		@media (min-width: 768px) {
			order: 2;
		}
	}

	&__inside-wrapper {
		width: 100%;
		// display: grid;
		gap: 30px;

		@media (min-width: 768px) {
			grid-template-columns: 60% 1fr;
		}
	}

	&__arrow {
		height: 30px;
	}
}

.glass-white-logo {
	width: 126px;

	@media (min-width: 576px) {
		width: 200px;
	}
}

.section.active {
	display: grid;
	transform: translateX(0);
	opacity: 1;
	height: auto;

	.section {
		&__h2 {
			display: block;
		}
		&__header {
			display: block;
		}
		&__img-wrapper {
			display: flex;
		}

		&__p {
			display: block;
		}

		&__img {
			display: block;

			&--only-higher-resolution {
				display: none;

				@media (min-width: 992px) {
					display: block;
				}
			}
		}

		&__inside-wrapper {
			display: grid;
		}

		&__arrow-wrapper {
			display: none;
			grid-column: 1/-1;
			justify-content: flex-end;
			@media (min-width: 768px) {
				display: flex;
			}
		}

		&__arrow {
			display: block;
			cursor: pointer;

			@media (min-width: 768px) {
				display: none;
			}

			&--big-screens {
				display: none;
				@media (min-width: 768px) {
					display: block;
				}
			}
		}
	}
}
