.single-thumbnail {
	position: relative;
	//test odejmuje po 5px height
	height: 129px;
	// width: calc(360px/2 - 15px);
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;

	@media (min-width: 576px) {
		height: 208px;
	}

	@media (min-width: 768px) {
		height: 175px;
	}

	@media (min-width: 992px) {
		height: 233px;
	}

	@media (min-width: 1200px) {
		height: 290px;
	}

	//KOZA

	&--thumbnail-1 {
		background-image: url('./../img/MINIATURY_576/KOZA_1x_resultado.webp');

		@media (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_576/KOZA_2x_resultado.webp');
		}

		@media (min-width: 992px) {
			background-image: url('./../img/MINIATURY_992/KOZA_1x_resultado.webp');
		}

		@media (min-width: 992px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_992/KOZA_2x_resultado.webp');
		}
		@media (min-width: 1200px) {
			background-image: url('./../img/MINIATURY_1200/KOZA_1x_resultado.webp');
		}

		@media (min-width: 1200px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_1200/KOZA_2x_resultado.webp');
		}
	}

	//PIGEON

	&--thumbnail-2 {
		background-image: url('./../img/MINIATURY_576/PIGEON_1x_resultado.webp');

		@media (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_576/PIGEON_2x_resultado.webp');
		}

		@media (min-width: 992px) {
			background-image: url('./../img/MINIATURY_992/PIGEON_1x_resultado.webp');
		}

		@media (min-width: 992px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_992/PIGEON_2x_resultado.webp');
		}

		@media (min-width: 1200px) {
			background-image: url('./../img/MINIATURY_1200/PIGEON_1x_resultado.webp');
		}

		@media (min-width: 1200px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_1200/PIGEON_2x_resultado.webp');
		}
	}

	//GLASS

	&--thumbnail-3 {
		background-image: url('./../img/MINIATURY_576/GLASS_1x_resultado.webp');

		@media (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_576/GLASS_2x_resultado.webp');
		}

		@media (min-width: 992px) {
			background-image: url('./../img/MINIATURY_992/GLASS_1x_resultado.webp');
		}

		@media (min-width: 992px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_992/GLASS_2x_resultado.webp');
		}

		@media (min-width: 1200px) {
			background-image: url('./../img/MINIATURY_1200/GLASS_1x_resultado.webp');
		}

		@media (min-width: 1200px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_1200/GLASS_2x_resultado.webp');
		}
	}

	//MEWA

	&--thumbnail-4 {
		background-image: url('./../img/MINIATURY_576/MEWA_1x_resultado.webp');

		@media (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_576/MEWA_2x_resultado.webp');
		}

		@media (min-width: 992px) {
			background-image: url('./../img/MINIATURY_992/MEWA_1x_resultado.webp');
		}

		@media (min-width: 992px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_992/MEWA_2x_resultado.webp');
		}

		@media (min-width: 1200px) {
			background-image: url('./../img/MINIATURY_1200/MEWA_1x_resultado.webp');
		}

		@media (min-width: 1200px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_1200/MEWA_2x_resultado.webp');
		}
	}

	//URBANEK

	&--thumbnail-5 {
		background-image: url('./../img/MINIATURY_576/URBANEK_1x_resultado.webp');

		@media (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_576/URBANEK_2x_resultado.webp');
		}

		@media (min-width: 992px) {
			background-image: url('./../img/MINIATURY_992/URBANEK_1x_resultado.webp');
		}

		@media (min-width: 992px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_992/URBANEK_2x_resultado.webp');
		}

		@media (min-width: 1200px) {
			background-image: url('./../img/MINIATURY_1200/URBANEK_1x_resultado.webp');
		}

		@media (min-width: 1200px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_1200/URBANEK_2x_resultado.webp');
		}
	}

	//EABS

	&--thumbnail-6 {
		background-image: url('./../img/MINIATURY_576/EABS_1x_resultado.webp');

		@media (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_576/EABS_2x_resultado.webp');
		}

		@media (min-width: 992px) {
			background-image: url('./../img/MINIATURY_992/EABS_1x_resultado.webp');
		}

		@media (min-width: 992px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_992/EABS_2x_resultado.webp');
		}

		@media (min-width: 1200px) {
			background-image: url('./../img/MINIATURY_1200/EABS_1x_resultado.webp');
		}

		@media (min-width: 1200px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_1200/EABS_2x_resultado.webp');
		}
	}

	//LASEK

	&--thumbnail-7 {
		background-image: url('./../img/MINIATURY_576/LASEK_1x_resultado.webp');

		@media (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_576/LASEK_2x_resultado.webp');
		}

		@media (min-width: 992px) {
			background-image: url('./../img/MINIATURY_992/LASEK_1x_resultado.webp');
		}

		@media (min-width: 992px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_992/LASEK_2x_resultado.webp');
		}

		@media (min-width: 1200px) {
			background-image: url('./../img/MINIATURY_1200/LASEK_1x_resultado.webp');
		}

		@media (min-width: 1200px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_1200/LASEK_2x_resultado.webp');
		}
	}

	//ZAMEK

	&--thumbnail-8 {
		background-image: url('./../img/MINIATURY_576/ZAMEK_1x_resultado.webp');

		@media (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_576/ZAMEK_2x_resultado.webp');
		}

		@media (min-width: 992px) {
			background-image: url('./../img/MINIATURY_992/ZAMEK_1x_resultado.webp');
		}

		@media (min-width: 992px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_992/ZAMEK_2x_resultado.webp');
		}

		@media (min-width: 1200px) {
			background-image: url('./../img/MINIATURY_1200/ZAMEK_1x_resultado.webp');
		}

		@media (min-width: 1200px) and (min-resolution: 2dppx) {
			background-image: url('./../img/MINIATURY_1200/ZAMEK_2x_resultado.webp');
		}
	}

	&__img-description {
		display: flex;
		justify-content: start;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: var(--black);
		opacity: 0;
		transition: opacity 0.3s;
	}

	&__p {
		padding-left: 10%;
		color: var(--white);

		// @media (min-width: 768px) {
		// 	font-size: 1.2rem;
		// }
	}
}

.single-thumbnail:hover .single-thumbnail__img-description {
	opacity: 1;
}
