html {
	scroll-behavior: smooth;
	font-size: 100%;
}

body {
	color: var(--black);
}

.display {
	display: block;
}

.notDisplay {
	display: none;
}

.half-width {
	width: 50%;
}

.align-center {
	align-self: center;
}

.align-right {
	align-self: end;
}